<%# Locals: filter_params:, staff: %>
<%= form_with url: admin_unconfirmed_sessions_path, method: :get, local: true, class: "row gy-2 gx-3 align-items-end mb-3" do %>
  <div class="col-md-3 col-12">
    <%= label_tag :q, "Recherche par client", class: "form-label" %>
    <%= text_field_tag :q, filter_params[:q], class: "form-control", placeholder: "Nom du client" %>
  </div>

  <div class="col-md-3 col-6">
    <%= label_tag :employee_id, "Employé·e", class: "form-label" %>
    <%= select_tag :employee_id,
        options_for_select([["Tous", ""]] + staff.map { |u| [u.full_name, u.id] }, filter_params[:employee_id]),
        class: "form-select" %>
  </div>

  <div class="col-md-3 col-6">
    <%= label_tag :session_date_from, "Séance (de)", class: "form-label" %>
    <%= date_field_tag :session_date_from, filter_params[:session_date_from], class: "form-control" %>
  </div>
  <div class="col-md-3 col-6">
    <%= label_tag :session_date_to, "Séance (à)", class: "form-label" %>
    <%= date_field_tag :session_date_to, filter_params[:session_date_to], class: "form-control" %>
  </div>

  <div class="col-md-3 col-6">
    <%= label_tag :created_from, "Créé (de)", class: "form-label" %>
    <%= date_field_tag :created_from, filter_params[:created_from], class: "form-control" %>
  </div>
  <div class="col-md-3 col-6">
    <%= label_tag :created_to, "Créé (à)", class: "form-label" %>
    <%= date_field_tag :created_to, filter_params[:created_to], class: "form-control" %>
  </div>

  <div class="col-md-3 col-6">
    <%= label_tag :present, "Présence", class: "form-label" %>
    <%= select_tag :present,
        options_for_select([["Toutes", ""], ["Oui", "yes"], ["Non", "no"]], filter_params[:present]),
        class: "form-select" %>
  </div>

  <div class="col-md-3 col-6">
    <%= label_tag :session_type, "Type", class: "form-label" %>
    <%= select_tag :session_type,
        options_for_select([["Tous", ""], ["Payé", "paid"], ["Gratuit", "free"]], filter_params[:session_type]),
        class: "form-select" %>
  </div>

  <div class="col-12 d-flex gap-2">
    <%= submit_tag "Appliquer", class: "btn btn-primary btn-sm" %>
    <%= link_to "Réinitialiser", admin_unconfirmed_sessions_path, class: "btn btn-outline-secondary btn-sm" %>
  </div>
<% end %>
